## Intro

**Author**: Andre Schomakers

**Date**: 7 Mar 2025

This interactive Python notebook `.ipynb` is designed to compare two different mean functions for the famous iris dataset's numerical columns.

The mean can be mathematically described by:

$$\bar{x} = \frac{1}{n} \sum_{i=1}^{n} x_i$$

Where:
- $\bar{x}$ represents the mean
- $n$ is the number of observations
- $x_i$ is the value of the $i$-th observation

#### Initial naive calcMeans()

Initial setup and functions programmed (before executed):
Note, that I'm using type-hinting here which is I think optional and not really pythonic.

In [13]:
# install packages
!pip install pandas
!pip install scikit-learn

Requirement already satisfied: pandas in /home/andre/ownCloud/MSc_Medizininformatik/2_Semester/M12_ML/.venv/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /home/andre/ownCloud/MSc_Medizininformatik/2_Semester/M12_ML/.venv/lib/python3.11/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/andre/ownCloud/MSc_Medizininformatik/2_Semester/M12_ML/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/andre/ownCloud/MSc_Medizininformatik/2_Semester/M12_ML/.venv/lib/python3.11/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/andre/ownCloud/MSc_Medizininformatik/2_Semester/M12_ML/.venv/lib/python3.11/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /home/andre/ownCloud/MSc_Medizininformatik/2_Semester/M12_ML/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: scikit-learn in /home/andre/ownCloud/MSc_Medizininformatik/2_Semester/M12_ML/.venv/lib/python3.11/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /home/andre/ownCloud/MSc_Medizininformatik/2_Semester/M12_ML/.venv/lib/python3.11/site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in /home/andre/ownCloud/MSc_Medizininformatik/2_Semester/M12_ML/.venv/lib/python3.11/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /home/andre/ownCloud/MSc_Medizininformatik/2_Semester/M12_ML/.venv/lib/python3.11/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/andre/ownCloud/MSc_Medizininformatik/2_Semester/M12_ML/.venv/lib/python3.11/site-packages (from scikit-learn) (3.5.0)

In [3]:
# import pkg
import pandas as pd
import numpy as np
from sklearn import datasets # needed for the iris dataset

In [4]:
# define the calcMeans function using apply
def calcMeans(dataframe: pd.DataFrame) -> np.ndarray:
    """
    Calculate the mean values of each column in a given dataframe using apply function.

    Parameters:
    -----------
    dataframe : pandas.DataFrame
        The input dataframe with numeric columns

    Returns:
    --------
    numpy.ndarray
        Array containing mean values for each column
    """
    # apply fx
    means = dataframe.apply(lambda col: col.mean())

    # convert to ndarray for more efficient return type
    return means.values

def validate_means(dataframe: pd.DataFrame) -> None:
    """
    Helper fx to validate our results against pandas describe

    Parameters:
    -----------
    dataframe : pandas.DataFrame
        The input dataframe to validate

    Returns:
    --------
    None
    """
    print("Our calculated means:")
    print(calcMeans(dataframe))

    print("\nPandas describe means:")
    print(dataframe.describe().loc['mean'].values)

    # Check if our calculation matches pandas
    comparison = calcMeans(dataframe) == dataframe.describe().loc['mean'].values
    print("\nDo our means match pandas?", all(comparison))

#### Execution of code on Sklearn's iris dataset

In [8]:
iris: tuple[pd.DataFrame, pd.Series] = datasets.load_iris(return_X_y=True, as_frame=True)

# extract the feature df (X part),
iris_features = iris[0]

# printing df's head
print("First 5 rows of iris dataset features:")
print(iris_features.head())

validate_means(iris_features)

First 5 rows of iris dataset features:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
Our calculated means:
[5.84333333 3.05733333 3.758      1.19933333]

Pandas describe means:
[5.84333333 3.05733333 3.758      1.19933333]

Do our means match pandas? True

Both arrays have share the same values for the 4 mean values for the columns `sepal length (cm)`, `sepal width (cm)`, `petal width (cm)` and `petal width (cm)`.

In [10]:
iris_features.describe().loc['mean']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000